*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Raleway',sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
p{
  font-size: 14px;
}
/*-----------Header---------*/
.header{
  background-image: url(ressources/img/header-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}
